{% extends "nav.html" %}

{% load static %}

{% block title %}
Zac-Clothing | {{ product.product_name }}

{% endblock title %}

{% block body %}
<br><br>
<div class="section-title" data-aos="fade-up">
    <h2>Product</h2>
    <p>Feel cozy Home</p>
  </div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Image Slider -->
            <div id="imageSlider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% if product.image %}
                        <div class="carousel-item active">
                            <img src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.product_name }} Image 1" style="max-height: 600px; max-width:400px;">
                        </div>
                    {% endif %}
                    {% if product.image2 %}
                        <div class="carousel-item {% if not product.image %} active {% endif %}">
                            <img src="{{ product.image2.url }}" class="d-block w-100" alt="{{ product.product_name }} Image 2" style="max-height: 600px; max-width:400px;">
                        </div>
                    {% endif %}

                </div>
                <a class="carousel-control-prev" href="#imageSlider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    
                </a>
                <a class="carousel-control-next" href="#imageSlider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Product Details -->
            <div class="product-details">
                <h2>{{ product.product_name }}</h2>
                <p>Category: {{ product.category }}</p>
                <p>Subcategory: {{ product.subcategory }}</p>
                <p>Price: ${{ product.price }}</p>
                <p>Description: {{ product.desc }}</p>


                <div class="form-group">
                <label for="size">Select Size:</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for size, size_label in product.SIZE_CHOICES %}
                        <label class="btn btn-secondary {% if size == product.size %}active{% endif %}">
                            <input type="radio" name="size" id="size_{{ size }}" autocomplete="off" value="{{ size }}" {% if size == product.size %}checked{% endif %}> {{ size_label }}
                        </label>
                    {% endfor %}
                </div>
                </div>

                <!-- Add to Cart Button -->
                <button class="btn btn-primary" onclick="addToCart('{{ product.id }}', $('input[name=size]:checked').val())">Add to Cart</button>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock body %}

{% block load %}



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function addToCart(productId,selectedSize) {
    var csrftoken = getCookie('csrftoken');
    console.log("Came inside");
    $.ajax({
        type: 'POST',
        url: '{% url "add" %}',
        data: {
            'product_id': productId,
            'csrfmiddlewaretoken': csrftoken,
            'size': selectedSize,
        },
        success: function (response) {
            if (response.status === 'success') {
                // SweetAlert2 alert for success
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'Product added to cart!',
                });
            } else {
                // SweetAlert2 alert for error
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Error: ' + response.message,
                });
            }
        },
        error: function(xhr, status, error) {
            // SweetAlert2 alert for general error
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'An error occurred while adding the product to cart.',
            });
            console.error(error);
        }
    });
}
{% endblock load %}




