
{% extends "nav.html" %}
{% load static %}
{% block title %}
Zac-Clothing | Login
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "auth/fonts/material-icon/css/material-design-iconic-font.min.css" %}">
<link rel="stylesheet" href="{% static "auth/css/style.css" %}">

{% endblock style %}

{% block body %}
<br>
<div class="conatiner" data-aos="fade-up" data-aos-delay="400">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Login</h2>
                    {% for message in messages  %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor%}

                    <form method="POST" class="register-form" id="register-form" action="{% url "login" %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="pass" id="pass" placeholder="Password"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="login" id="login" class="form-submit" value="Login"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="{% static "auth/images/signin-image.jpg" %}" alt="sing up image"></figure>
                    <a href="signup" class="signup-image-link">New Member | SignUp </a>
                    <a href="{% url "request-reset-email" %}" class="signup-image-link">Forgot password ? </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock body %}
